Cod<!DOCTYPE html>
<html>
<head>
  <title>Whatever</title>

  <style>
  

    html, body {
  height: 100%;
}
 
 body{
   background-image: url("http://www.ecdevelopment.org/wp-content/uploads/2015/04/hippie-flower.jpg");
 }
    
    h4{
font-family: Verdana;
      font-size: 100px;
     position: fixed;
     left: 400px;
      top: 200px;
    margin: auto;
      color: #FFFFFF;
    }
    
    p{
      font-family: Verdana;
      font-size: 20px;
     position: fixed;
     left: 400px;
      top: 400px;
    margin: auto;
     color: #FFFFFF;
      
    }
    
  .button {
  padding:10px;
  border: 1px solid #666;
  text-decoration:none;
  background-color: rgba(255, 255, 255, .3);
  background-repeat: no-repeat;
  background-size: 100% ;
    transition: all 0.3s ease 0s;
    opacity: 1; 
    color: #000000;
  
} 
    
 .button:hover {
 box-shadow: inset 0 0 0 5px #3071A9;
}
    
    

  </style>

</head>
<body>
  

  
  <div>
    <h4>LearnNow</h4>
    <p>Want to start coding but confused as to where to start? 
    </p>
  </div>
  
 <a class="button" href="#" style = "position:fixed; left:640px; top:500px;">Get Started</a>
  

 
  
</body>
</html>
   
